---
layout: page
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="header_image_bg header_image_post" style="background-image: url('{{page.background}}');">
    <div class="header_image_post_body">
        <div class="container">
            <div class="page-category">{{page.category}}</div>
            <div class="page-title">{{page.title}}</div>
            <div class="page-summary">
                <div style="float:left;">
                    <img class="page-profile_image" src="{{page.profile_image}}" />
                    <span>{{page.author}}</span>
                </div>
                <div style="float:right;" class="page-date">{{page.date|date: date_format}}</div>
            </div>
        </div>
    </div>
</div>
<div class="container page-content">
    {{page.content}}
    <div class="page-profile-detail">
        <div class="page-profile-detail-info">
            <div>
                <img class="page-profile_image-detail" src="{{page.profile_image}}" />
            </div>
            <div style="position: relative; top: 12px;left: 10px;">
                <div class="page-profile-author">{{page.author}}</div>
                <div class="page-profile-email">{{page.author_email}}</div>
            </div>
        </div>
    </div>
</div>

<div class="recent-post-area">
    <div class="posts">
        <div class="h1-recent-post">RECENT POST</div>
            {% include posts.html posts=site.posts limit=2 %}
        </div>
    </div>
</div>